<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All tasks</title>
</head>

<body>
    <ul>
        <% for(let task of tasks) { %>
        <li><a href="/tasks/<%=task._id%>"><%= task.name %></a> </li>
        <% }%>
    </ul>
    <a href="/new">New task</a>
    
    <a href="/tasks">All tasks</a>

</body>

</html>